$backgroundLight: #fff;
$accentColorLight: #0b3948;
$headerBgColorLight: #0b3948;
$headerTextColorLight: #fff;
$sidebarBgColorLight: #cddfda;
$sidebarTextColorLight: #000;
$sidebarSkillsBgColorLight: #8d9da7;
$bodyBgColorLight: #fff;
$bodyTextColorLight: #000;

$backgroundDark: #1b1b1b;
$accentColorDark: #98bed5;
$headerBgColorDark: #0b3948;
$headerTextColorDark: #eceff4;
$sidebarBgColorDark: #232b2e;
$sidebarTextColorDark: #eceff4;
$sidebarSkillsBgColorDark: #303c40;
$bodyBgColorDark: #1b1b1b;
$bodyTextColorDark: #eceff4;

@mixin breakpoint-sm {
  @media only screen and (max-width: 649px) {
    @content;
  }
}
@mixin breakpoint-xs {
  @media only screen and (max-width: 449px) {
    @content;
  }
}

html {
  --background: #{$backgroundLight};
  --accentColor: #{$accentColorLight};
  --headerBgColor: #{$headerBgColorLight};
  --headerTextColor: #{$headerTextColorLight};
  --sidebarBgColor: #{$sidebarBgColorLight};
  --sidebarTextColor: #{$sidebarTextColorLight};
  --sidebarSkillsBgColor: #{$sidebarSkillsBgColorLight};
  --bodyBgColor: #{$bodyBgColorLight};
  --bodyTextColor: #{$bodyTextColorLight};

  background: var(--background);

  .hide-dark {
    display: none;
  }
}

html.dark {
  --background: #{$backgroundDark};
  --accentColor: #{$accentColorDark};
  --headerBgColor: #{$headerBgColorDark};
  --headerTextColor: #{$headerTextColorDark};
  --sidebarBgColor: #{$sidebarBgColorDark};
  --sidebarTextColor: #{$sidebarTextColorDark};
  --sidebarSkillsBgColor: #{$sidebarSkillsBgColorDark};
  --bodyBgColor: #{$bodyBgColorDark};
  --bodyTextColor: #{$bodyTextColorDark};

  .hide-dark {
    display: unset;
  }
  .hide-light {
    display: none;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin-bottom: 4em;
}

.cv {
  background-color: var(--bodyBgColor);
  color: var(--bodyTextColor);

  max-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: auto;

  display: flex;
  flex-direction: column;

  header {
    padding: 1em 2em;
    background-color: var(--headerBgColor);
    color: var(--headerTextColor);

    font-weight: bold;

    h1 {
      text-transform: uppercase;
    }
  }
}

.cv-body {
  flex-grow: 1;

  display: grid;
  grid-template-columns: 1fr 2fr;
}

@include breakpoint-sm {
  .cv-body {
    grid-template-columns: 1fr;
  }
  .cv {
    box-shadow: none;
  }
  body {
    margin: 0;
  }
}

.cv-sidebar {
  background-color: var(--sidebarBgColor);
  color: var(--sidebarTextColor);

  padding: 1em 1.5em;
  box-sizing: border-box;
}

.cv-sidebar-heading {
  border-bottom: 1px solid;
  text-transform: uppercase;
}

.cv-contact {
  a {
    color: inherit;
    font-weight: inherit;
  }
  .cv-contact-item {
    i {
      width: 24px;
      font-size: 1.2em;
      text-align: center;
      color: var(--accentColor);
    }
    margin-bottom: 0.3em;
  }
}

.cv-skills-section {
  .cv-skills-section-title {
    margin: 0.8em 0 0.2em 0;
    font-size: 0.75rem;
    color: var(--accentColor);
    font-weight: normal;
  }
}

.cv-skills-entry {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .cv-skills-entry--name {
    margin: 0;
    font-weight: bold;
  }

  .cv-skills-entry--rating-circle__active {
    color: var(--accentColor);
  }

  .cv-skills-entry--rating-circle__inactive {
    color: var(--sidebarSkillsBgColor);
  }
}

.cv-sections {
  /* Set background again to fix positioning artifacts when printing to PDF */
  background-color: var(--bodyBgColor);
  padding: 1em 2.5em;

  h2 {
    border-bottom: 1px solid;
    text-transform: uppercase;
    padding-bottom: 0.2em;
    i {
      margin-right: 0.4em;
    }
  }
}

.cv-education-item,
.cv-jobs-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  .cv-education-item--name,
  .cv-jobs-item--name {
    font-size: 1.3em;
    text-align: right;
  }

  @include breakpoint-xs {
    grid-template-columns: 1fr;

    .cv-education-item--name,
    .cv-jobs-item--name {
      text-align: left;
      margin-top: 0.5em;
    }
  }
}

.cv-projects-item {
  margin-bottom: 1em;
  .cv-projects-item-header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;

    @include breakpoint-xs {
      grid-template-columns: 1fr;
      .cv-projects-item--info {
        margin: 0.2em 0 0.4em 0;
      }
    }

    .cv-projects-item--name {
      font-size: 1.3em;
      font-weight: bold;
      color: var(--accentColor);
    }
  }
}

.cv-extracurriculars-item {
  i:first-child {
    width: 16px;
    text-align: center;
    margin-right: 0.1em;
  }
  a {
    color: inherit;
    font-weight: inherit;
  }
}

button,
a {
  text-decoration: none;
  color: var(--accentColor);
  font-weight: bold;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.toolbar {
  max-width: 800px;
  margin: 2em auto 1em;

  display: flex;
  font-size: 1.2em;

  button {
    font-size: inherit;
  }

  button,
  a {
    margin: 0 1em;
  }
}

@media print {
  body {
    margin: 0;
  }
  .cv {
    box-shadow: none;
  }
  .toolbar {
    display: none;
  }

  html {
    /* hack to set height to 2 A4 pages */
    height: calc(2 * 297mm - 1px);
    box-sizing: border-box;
  }
  body,
  main,
  .cv {
    height: 100%;
  }
}
