<div class="cv-jobs">
  <h2>
    <i class="fa-solid fa-briefcase"></i>
    Experiência Profissional
  </h2>
  {{ range . }}
    <div class="cv-jobs-item">
      <div class="cv-jobs-item--info">
        <div>
          <i class="fa-solid fa-calendar-days"></i>
          {{ .date | markdownify }}
        </div>
        <div>
          <i class="fa-solid fa-location-dot"></i>
          {{ .location | markdownify }}
        </div>
      </div>
      <div class="cv-jobs-item--name">{{ .name | markdownify }}</div>
    </div>
  {{ end }}
</div>
