<div class="cv-misc">
  {{ if gt (len .) 0 }}
    <h2 class="cv-sidebar-heading">
      {{ i18n "section-header.miscellaneous" }}
    </h2>
    <ul>
      {{ range . }}
        <li class="cv-misc-item">
          {{ if .link }}
            <a href="{{ .link }}" target="_blank" rel="noopener noreferrer">
              {{ .name | markdownify }}
              <i class="fa-solid fa-link"></i>
            </a>
          {{ else }}
            {{ .name | markdownify }}
          {{ end }}
        </li>
      {{ end }}
    </ul>
  {{ end }}
</div>
